macro_switch_window: macro_switch_window{
compatible = "zmk,behavior-macro";
label = "macro_switch_window";
#binding-cells = <0>;
bindings = <&kp LEFT_CONTROL>, <&kp TAB>;
};
macro_view_all_window: macro_view_all_window{
compatible = "zmk,behavior-macro";
label = "macro_view_all_window";
#binding-cells = <0>;
bindings = <&kp LEFT_CONTROL>, <&kp LEFT_COMMAND>, <&kp UP>;
};
macro_move_l_desktop: macro_move_l_desktop{
compatible = "zmk,behavior-macro";
label = "macro_move_l_desktop";
#binding-cells = <0>;
bindings = <&kp LEFT_CONTROL>, <&kp LEFT_COMMAND>, <&kp LEFT>;
};
macro_move_r_desktop: macro_move_r_desktop{
compatible = "zmk,behavior-macro";
label = "macro_move_r_desktop";
#binding-cells = <0>;
bindings = <&kp LEFT_CONTROL>, <&kp LEFT_COMMAND>, <&kp RIGHT>;
};